<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{block name="title"}Default Title{/block}</title>
  </head>
  <body>
    <header>
      <!-- Header Section -->
      <h1>Site Header</h1>
    </header>
    <nav>
      <ul>
        <li>
          <!-- Index : controller , index : action -->
          <a href="{:url('Index/index')}">Home</a>
        </li>
        <li>
          <a href="{:url('Dashboard/index')}">Dashboard</a>
        </li>
        <li>
          <a href="{:url('User/index')}">User</a>
        </li>
      </ul>
    </nav>

    <main>
      <!-- Main Content -->
      {__CONTENT__}
    </main>

    <footer>
      <!-- Footer Section -->
      <p>Site Footer</p>
    </footer>
  </body>
</html>
