<div>
  <h2>Update User</h2>
  <form action="{:url('user/update', ['id' => $user['id']])}" method="post">
    <input type="text" name="id" value="{$user['id']}" hidden />
    <div>
      <label for="name">Fist Name:</label>
      <input type="text" name="first_name" value="{$user['first_name']}" />
    </div>
    <div>
      <label for="name">Last Name:</label>
      <input type="text" name="last_name" value="{$user['last_name']}" />
    </div>
    <div>
      <!-- select : Male orFemale or Other -->
      <label for="gender">Gender:</label>
      <select name="gender" default="{$user['gender']}">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <button type="submit">Update</button>
    <button>
      <a href="{:url('user/index')}">Cancel</a>
    </button>
  </form>
</div>
